p  {
    font-size: x-large;
}
h1 {
    color: rgb(14, 1, 17);
    text-align: center;
    font-size: xx-large;

}
.Culinária{
    color: rgb(48, 48, 3);
    text-shadow: 2ex;
    text-align: left;
}
#Receitas{

    background: color(srgb red green blue);

}

.Culinária{

height: 50px;
text-align: center;

}
.imagem{

    height: 1000px;
    height: 200px;
}
.class{

    height: 30px;
    text-align: center;

}
h2{
    text-align: center;
    
}
.flex-container{
    display: flex;
}
.linha-1{
    flex-direction: row-reverse;
    justify-content: space-around;
}
.linha-0{
    flex-direction: row-reverse;
    justify-content: space-around;
}