p  {
    font-size: x-large;
}
h1 {
    color: rgb(14, 1, 17);
    text-align: center;
    font-size: xx-large;

}
.Culinária{
    color: rgb(48, 48, 3);
    text-shadow: 2ex;
}
#Receitas{

    background: color(srgb red green blue);

}

.Culinária{

height: 50px;

}
.imagem{

    height: 350px;
    height: 200px;
}
.class{

    height: 45px;
}